.container {
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #FFF;
    margin: 0 auto;
  }
  

.cartItemsContainer {
    display: flex;
    flex-direction: column;
}