.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    height: 80px;
    align-items: center;
    width: 100vw;
    background-color: #FFF;
    margin-bottom: 20px;
}

.accountDetails {
    display: flex;
    width: 200px;
    align-items: center;
    justify-content: space-between;
}