.container {
    width: 500px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.title {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.image {
    width: 15%;
}

.details {
    display: flex;
    flex-direction: column;
    width: 15%;
}